@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

    .font-finger{
        font-family: 'Finger Paint', cursive;
    }

    .font-open-sanse{
        font-family: 'Open Sans', sans-serif;
    }
    .font-shalimar{
        font-family: 'Shalimar', cursive;
    }
   .paddix{
     padding-left: 5%;
     padding-right: 5%;
   }
   .mxwtDulalaj{
    max-width: 500px;
   }

}